<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="MongoDbConnectionString" value="mongodb://webapp:password1@ds054289.mlab.com:54289/{DB_NAME}" />
    <add key="MongoDbName" value="demoproject-servicefabric-persondb" />
  </appSettings>
</configuration>