<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="MongoDbConnectionString" value="mongodb://admin:password1@ds054289.mlab.com:54289/naba-test-db" />
    <add key="MongoDbName" value="naba-test-db" />
  </appSettings>
</configuration>